:root{
  --primary: rgba(11, 50, 97, 0.85);
  --secondary: rgb(16, 179, 255);

  --cyan: rgb(111, 206, 250);
  
  --white: rgb(255, 255, 255);
  --grey: rgba(210, 210, 210, 0.212);

  --blue: rgb(21, 103, 203);
  --primaryNavbar: rgba(18, 94, 176, 0.864);

  --hoverButton : linear-gradient(45deg, var(--cyan), var(--primary), var(--secondary));

}

/**************/
*{
  scrollbar-color: rgba(16, 179, 255, 0.611) rgba(255, 255, 255, 0.907);
}
body{
  
  padding: 0px;
  margin: 0px;

  font-family: "Montserrat", sans-serif;
 
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}
/***************/





/* Navbar */
header{
  margin: 0px;
  padding: 0px;

  align-items: center;

  position: fixed; /* Set the navbar to fixed position */
  
  width: 100%; /* Full width */

  overflow: hidden;
  
  top: 0%;
  
  transition: all 1s ease;

  z-index: 9999;
  
  height: 85px;
}




.nav-bg{
  background-color: var(--primaryNavbar);

}
.header-bg{
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
}
.nav-bg a{

  color: white !important;

}



nav {

  transition: all 2s ease;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 2rem;


  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;

  align-items: center;

  background-color: var(--white);

  display: flex;
  
}

nav img{
  margin: 0px;

  margin-top: 10px;
  padding: 10px;
  padding-top: 0px;
  align-items: center;
}


/* links*/
.links-container{
  text-align: center;
  margin: 0 auto;

  padding: 5px;

  margin-bottom: 12px;
}
.links-container a {

  margin: 13px;
  padding: 10px;

  font-size: 14px;

  color: var(--primary);
}
.links-container a:hover{

  border-radius: 5px;
  background: var(--grey);
}
/************/


/* download app button*/
.download-nav-button{

  cursor: pointer;
  display: inline-block;

  font-size: 1rem;
  font-weight: bold;

  color: white;
  background: var(--secondary);
  
  border: none;
  border-radius: 10px;
  

  padding: 15px;

  transition: all 0.4s ease;

}
.download-nav-button:hover{
  background-color: var(--cyan);
}
/********/


/* Home */
.home-container{
  margin: 0px;
  padding: 0px;

  margin-top: 150px;

  color: var(--primary);
  text-align: center;
}

.home-title{
  font-weight: 500;
  font-size: 2.4rem;
}

.home-parag{
  margin-top: 0px;
  padding: 0px;

  font-size: 0.9rem;
}

.tablet-img-home{
  margin-top: 30px;
  max-width: 950px;
 
}
.gplay-svg{
  margin-top: 20px;
}
/********/


/* Features */

.features-wraper{

  margin: 0px;
  padding: 50px;
  
  margin-top: 150px;
  
  color: var(--primary);
}

.features-wraper h3{
  font-weight: 500;
  font-size: 2rem;
}

.features-wraper p{
  font-size: 15px;
}



/***********************/
.features-text-container-1{
  text-align: center !important;
}

.features-title-1{
  font-size: 2.4rem;
  font-weight: 500;

}
.features-par-1{
  margin-top: 0px;
  padding: 0px;
  font-size: 0.9rem;
}
/***********************/






/***********************/
.features-2-wraper{

  

  display: flex;
  justify-content: center;

  margin-top: 100px;

  border-radius: 15px;

}
.features-text-container-2, .features-img-div{
  width: 444.492px;
  height: 300px;

  align-items: center;
}


.features-img{
  width: 300px;
  height: 260px;

  
}

.features-par-2{
  font-size: 0.9rem;
}
.features-text-container-2{

  padding: 30px;
  margin-right: -20px;

}


/***********************/



/* staff-manag and Inventory */
.sm-inv-container{

  display: flex;
  justify-content: center;
  margin-top: 40px;


}
.staff-management-container{
  margin-right: 50px;
}
.staff-management-container, .inventory-container{

  border-radius: 15px;

  padding: 30px;
  
}
.sm-inv-container h3{
  margin-top: 15px;
}

.sm-inv-container p{

  margin: 0px;
  padding: 0px;

  margin-top: -5px;
  
}

.sm-inv-container img{
  width: 300px;
  height: 260px;

  margin-top: 60px;
}
/***********************/

.rprt-stats-container{


  display: flex;
  justify-content: center;

  margin-top: 100px;

  border-radius: 15px;
}

.rprt-stats-text, .rprt-stats-img{
  width: 350.492px;
  height: 300px;

  align-items: center;

}

.rprt-stats-text{

  padding: 30px;
  margin-right: -10px;

}

.rprt-stats-img{
  width: auto;
}
/* end of Features*/


/* Business Types */
.business-img-div{
  width: 1100px;
  height: 600px;
  margin: auto;

  position: relative;

  margin-bottom: -20px;
  padding: 10px;
  

}

.business-img-div img{
  width: 1100px;
  height: 600px;
}

.business-img-div p{
  color: rgb(255, 255, 255);
  
  position: absolute;
  top: 0%;

  margin: 20px;
  margin-top: 13%;
  margin-left: 7%;

  font-size: 2.5rem;
  font-weight: 600;

  word-spacing: 2px;
  letter-spacing: 1px;

}

.business-types-div{
  width: 1155px;
  margin: 0 auto;
  margin-bottom: 40px;

  margin-top: 0px;



}
.business-types-div table{
  border-spacing: 30px;
  width: 1160px;

  text-align: center;
  table-layout: fixed;
}

td{

  color: var(--primary);

  font-size: 1.3rem;
  font-weight: 500;

  padding: 10px;
  padding-top: 35px;
  padding-bottom: 35px;

  border-radius: 9px;
  border: 2px solid rgba(71, 71, 71, 0.168);
}

